{% extends 'base.html' %}

{% block content %}
<title>{% block title %}invoice{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<div class="container">
    <h2>Invoice</h2>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                
                <div class="card-body">
                    <div class="invoice-title">
                        <h4 class="float-end font-size-15" id="invoice_n">#</h4>
                        <div class="mb-4">
                            <h2 class="mb-1 text-muted">MyCompany</h2>
                            <div class="viewinv">
                                <a href="{% url 'invoices:view_invoice' %}">view invoices</a>
                            </div>
                        </div>
                        <div class="text-muted">
                            <p class="mb-1">New Delhi, India</p>
                            <p><i class="uil uil-phone me-1"></i> 987-345-4577</p>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="text-muted">
                                <h5 class="font-size-16 mb-3">Billed To:</h5>
                                <input list="client" style=" color: #333; padding: 5px; border-radius: 5px; border: 1px solid #ccc; width:45%" name="select_client" id="select_client" placeholder="Enter Client Name" autocomple="off">
                                <datalist id="client">{% for client in data %}<option value="{{ client.company_name }}">{{client.company_name }}</option>{% endfor %}</datalist>
                                <div id="data-container">
                                    <p></p>
                                    <p style="margin-top: -20px;"></p>
                                    <p style="margin-top: -20px;"></p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="text-muted text-sm-end">
                                <div class="mt-4">
                                    <h5 class="font-size-15 mb-1">Invoice Date:</h5>
                                    <input class="font-size-15 " type ="date" value = {{today}} id="bill_date">
                                </div>
                                <div class="mt-4">
                                    <h5 class="font-size-15 mb-1">Order No:</h5>
                                    <p id="order-number">-</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="py-2">
                        <h5 class="font-size-15">Order Summary &nbsp</h5>
                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap table-centered mb-0" id="invoice-table" name="invoice-table">
                                <thead>
                                    <tr>
                                        <th style="width: 70px;"></th>
                                        <th style="width: 70px;">No.</th>
                                        <th>Item</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th class="text-end" style="width: 120px;">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Products will be dynamically added here -->
                                </tbody>
                            </table>
                            <button style="background-color: #04AA6D; /* Green */
                            border: none;
                            color: white;
                            padding: 5px 20px;
                            text-align: center;
                            text-decoration: none;
                            display: inline-block;
                            margin: 4px 2px;
                            cursor: pointer;font-size: 10px;" onclick="addRow()"><i class="fas fa-plus"></i> </button>
                            <div id="total-amount">
                                <h2>Total Amount(₹)</h2>
                                <p id="total">0.00</p>
                            </div>
                        </div>
                        <div class="d-print-none mt-4">
                            <div class="float-end">
                                
                                <form action="generate/" id="table-form" method="POST">
                                    {% csrf_token %}
                                    <a href="javascript:window.print()" class="btn btn-success me-1"><i class="fa fa-print"></i></a>
                                    <button class="btn btn-primary w-md" type='submit' id="generate" name="generate" >Generate</a>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .container {
        max-width: 2000px;
        margin: 20px auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .card {
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0, 0, 0, .125);
        border-radius: 1rem;
    }

    .invoice-table label {
        color: #555;
    }

    .invoice-table input,
    .invoice-table input[type="number"] {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 98%;
    }
    #total-amount {
        padding: 10px;
        margin-top: 20px;
        text-align: right;
    }

    #total-amount h2 {
        margin-bottom: 10px;
        font-size: 24px;
        color: #333;
    }

    #total-amount p {
        font-size: 18px;
        font-weight: bold;
        color: #007bff;
    }
    .viewinv a:link {
        text-decoration: none;
        color: blue;
        font-size: 12px;
        margin-top: 30px;
    }
    
    .viewinv a:visited {
        text-decoration: none;
        color: blue;
    }
    
    .viewinv a:hover {
        text-decoration: none;
        color: black;
    }
    
    .viewinv a:active {
        text-decoration: none;
        color:blue;
    }
</style>
<script>

    function addRow() {
        var table = document.getElementById("invoice-table").getElementsByTagName('tbody')[0];
        var newRow = table.insertRow();
        var cells = [];
        for (var i = 0; i < 6; i++) {
            cells[i] = newRow.insertCell(i);
        }
        var rowId = 'row_' + table.rows.length;
        cells[0].innerHTML = '<button style="font-size:12px;" onclick="removeRow(this)"><i class="material-icons" style="color:red">delete</i></button>';
        cells[1].textContent = table.rows.length;
        cells[2].innerHTML = '<input list="' + rowId + '_productnames" name="product-name" id="' + rowId + '_product-name" placeholder="Enter Product name"><datalist id="' + rowId + '_productnames">{% for product in pro_data %}<option value="{{ product.product_name }}">{{ product.product_name }}</option>{% endfor %}</datalist>';
        cells[3].innerHTML = '<input type="number" id="' + rowId + '_quantity" placeholder="Enter quantity" min="1">';
        cells[4].innerHTML = '<input type="text" id="' + rowId + '_price" placeholder="Price per unit" min="1">';
        cells[5].innerHTML = '';
        document.getElementById(rowId + '_quantity').addEventListener("input", function() {
            var quantity = parseInt(document.getElementById(rowId + '_quantity').value);
            var price = parseFloat(document.getElementById(rowId + '_price').value);
            var sub_total = (quantity * price).toFixed(2);
            cells[5].textContent = "₹" + sub_total;
            updateTotal();
        });
        document.getElementById(rowId + '_price').addEventListener("input", function() {
            var quantity = parseInt(document.getElementById(rowId + '_quantity').value);
            var price = parseFloat(document.getElementById(rowId + '_price').value);
            var sub_total = (quantity * price).toFixed(2);
            cells[5].textContent = "₹" + sub_total;
            updateTotal();
        });
    
        document.getElementById(rowId + '_product-name').addEventListener("change", function() {
            var selectedOption = this.value;
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "{% url 'invoices:fetch_data_product' %}" + "?option=" + selectedOption, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var responseData = JSON.parse(xhr.responseText);
                    document.getElementById(rowId + '_price').value = responseData.res;
                    var quantity = parseInt(document.getElementById(rowId + '_quantity').value);
                    var sub_total = (quantity *responseData.res).toFixed(2);
                    cells[5].textContent = "₹" + sub_total;
                    updateTotal();
                }
            };
            xhr.send();
        });
    }
    
    function removeRow(button) {
        var row = button.parentNode.parentNode;
        row.parentNode.removeChild(row);
        updateTotal()
    }

    function updateTotal() {
        var total = 0;
        var table = document.getElementById("invoice-table").getElementsByTagName('tbody')[0];
        var rows = table.getElementsByTagName("tr");
        for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].getElementsByTagName("td");
            if (cells.length >= 5) {
                total += parseFloat(cells[5].innerHTML.replace("₹", ""));
            }
        }
        document.getElementById("total").textContent = total.toFixed(2);
    }

    document.getElementById("select_client").addEventListener("change", function() {
        event.preventDefault();
        var selectedOption = this.value;
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "{% url 'invoices:fetch_data' %}"+"?option="+selectedOption, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
            
                // Update data container with fetched data
                var responseData = JSON.parse(xhr.responseText);
                var paragraphs = document.querySelectorAll("#data-container p");
                data_arr= []
                responseData.data.forEach(function(item){
                data_arr.push(item)
                });
                if(data_arr[4]!="#NEW"){
                    paragraphs[0].textContent = data_arr[0]
                    paragraphs[1].textContent = data_arr[1]
                    paragraphs[2].textContent = data_arr[2]
                    document.getElementById("order-number").textContent= data_arr[3] + 1;
                    document.getElementById("invoice_n").textContent= data_arr[5];
                }
                else{   
                    paragraphs[0].innerHTML =  '<input type="text" placeholder="Enter Person Name">';
                    paragraphs[1].innerHTML = '<input type="text" placeholder="Enter Contact">'
                    paragraphs[2].innerHTML = '<input type="text" placeholder="Enter Address">'
                    document.getElementById("order-number").textContent= "1";
                    document.getElementById("invoice_n").textContent= data_arr[5];
                }
            }
        };
        xhr.send();
    });



    document.getElementById('table-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent default form submission
        
        var tableData = [];
        var tableRows = document.querySelectorAll('#invoice-table tbody tr');
        tableRows.forEach(function(row) {
            var rowData = [];
            row.querySelectorAll('td').forEach(function(cell) {
                var input = cell.querySelector('input');
                if (input) {
                    rowData.push(input.value);
                } else {
                    rowData.push(cell.textContent);
                }
            });
            tableData.push(rowData);
        });

        var hiddenInput = document.createElement('input');
        hiddenInput.type = 'hidden';
        hiddenInput.name = 'table_data';
        hiddenInput.value = JSON.stringify(tableData);

        var date_bill = document.createElement('input')
        date_bill.type = 'hidden';
        date_bill.name = 'billdate';
        date_bill.value = document.getElementById("bill_date").value;

        var totall= document.createElement('input')
        totall.type = 'hidden';
        totall.name = 'total_amount';
        totall.value = document.getElementById("total").textContent;

        document.getElementById('table-form').appendChild(hiddenInput);
        document.getElementById('table-form').appendChild(date_bill);
        document.getElementById('table-form').appendChild(totall);
        document.getElementById('table-form').submit();
    });

</script>
{% endblock %}
