{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>My Clients</h2>
    <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Search by name...">
    </div>
    <div class="action-buttons">
        <div class="add-customer-btn">
            <button class="new-customer-button" onclick="openModal()">Add New Client</button>
        </div>
    </div>
    

    <div class="customer-grid">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h3 class="customer-name">John Doe</h3>
                </div>
                <div class="flip-card-back">
                    <p>Email: john@example.com</p>
                    <div class="customer-actions">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h3 class="customer-name">Jane Smith</h3>
                </div>
                <div class="flip-card-back">
                    <p>Email: jane@example.com</p>
                    <div class="customer-actions">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h3 class="customer-name">aaa Smith</h3>
                </div>
                <div class="flip-card-back">
                    <p>Email: jane@example.com</p>
                    <div class="customer-actions">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h3 class="customer-name">Jane Smith</h3>
                </div>
                <div class="flip-card-back">
                    <p>Email: jane@example.com</p>
                    <div class="customer-actions">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h3 class="customer-name">Jane Smith</h3>
                </div>
                <div class="flip-card-back">
                    <p>Email: jane@example.com</p>
                    <div class="customer-actions">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h3 class="customer-name">Jane Smith</h3>
                </div>
                <div class="flip-card-back">
                    <p>Email: jane@example.com</p>
                    <div class="customer-actions">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h3 class="customer-name">Jane Smith</h3>
                </div>
                <div class="flip-card-back">
                    <p>Email: jane@example.com</p>
                    <div class="customer-actions">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h3 class="customer-name">Jane Smith</h3>
                </div>
                <div class="flip-card-back">
                    <p>Email: jane@example.com</p>
                    <div class="customer-actions">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h3 class="customer-name">Jane Smith</h3>
                </div>
                <div class="flip-card-back">
                    <p>Email: jane@example.com</p>
                    <div class="customer-actions">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h3 class="customer-name">Jane Smith</h3>
                </div>
                <div class="flip-card-back">
                    <p>Email: jane@example.com</p>
                    <div class="customer-actions">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h3 class="customer-name">Jane Smith</h3>
                </div>
                <div class="flip-card-back">
                    <p>Email: jane@example.com</p>
                    <div class="customer-actions">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h3 class="customer-name">Jane Smith</h3>
                </div>
                <div class="flip-card-back">
                    <p>Email: jane@example.com</p>
                    <div class="customer-actions">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h3 class="customer-name">Jane Smith</h3>
                </div>
                <div class="flip-card-back">
                    <p>Email: jane@example.com</p>
                    <div class="customer-actions">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h3 class="customer-name">Jane Smith</h3>
                </div>
                <div class="flip-card-back">
                    <p>Email: jane@example.com</p>
                    <div class="customer-actions">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h3 class="customer-name">Jane Smith</h3>
                </div>
                <div class="flip-card-back">
                    <p>Email: jane@example.com</p>
                    <div class="customer-actions">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h3 class="customer-name">Jane Smith</h3>
                </div>
                <div class="flip-card-back">
                    <p>Email: jane@example.com</p>
                    <div class="customer-actions">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h3 class="customer-name">Jane Smith</h3>
                </div>
                <div class="flip-card-back">
                    <p>Email: jane@example.com</p>
                    <div class="customer-actions">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h3 class="customer-name">Jane Smith</h3>
                </div>
                <div class="flip-card-back">
                    <p>Email: jane@example.com</p>
                    <div class="customer-actions">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h3 class="customer-name">Jane Smith</h3>
                </div>
                <div class="flip-card-back">
                    <p>Email: jane@example.com</p>
                    <div class="customer-actions">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h3 class="customer-name">Jane Smith</h3>
                </div>
                <div class="flip-card-back">
                    <p>Email: jane@example.com</p>
                    <div class="customer-actions">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h3 class="customer-name">Jane Smith</h3>
                </div>
                <div class="flip-card-back">
                    <p>Email: jane@example.com</p>
                    <div class="customer-actions">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- More customer entries -->
    </div>
    <div class="pagination">
        <button>&laquo; Prev</button>
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>4</button>
        <button>5</button>
        <button>Next &raquo;</button>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">

    <!-- Modal content -->
        <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <div class="container">
            <h2>New Client Information</h2>
            <form class="client-form" action = "addnew/" method = "POST">
                {% csrf_token %} 
                    <div class="address-breakdown">
                        <div class="form-group">
                            <label for="company_name">Company Name</label>
                            <input type="text" id="company_name" name="company_name" required>
                        </div>
                        <div class="form-group">
                            <label for="person_name">Person Name</label>
                            <input type="text" id="person_name" name="person_name" required>
                        </div>
                    </div>
                    <div class="address-breakdown">
                        <div class="form-group">
                            <label for="contact_number">Contact Number</label>
                            <input type="tel" id="contact_number" name="contact_number" pattern="[6-9][0-9]{9}"  required title="Please enter a valid phone number" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <textarea id="address" name="address" rows="4" required></textarea>
                    </div>
                    <div class="address-breakdown">
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" id="city" name="city" required>
                        </div>
                        <div class="form-group">
                            <label for="state">State</label>
                            <input type="text" id="state" name="state" required>
                        </div>
                        <div class="form-group">
                            <label for="zipcode">Zip Code</label>
                            <input type="text" id="zipcode" name="zipcode" required>
                        </div>
                        <div class="form-group">
                            <label for="country">Country</label>
                            <input type="text" id="country" name="country" required>
                        </div>
                    </div>
                    <button type="submit">Save</button>
                </form>
            </form>
        </div>
        </div>
    
    </div>
</div>

<style>
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }
    .container {
        max-width: 2000px;
        margin: 20px auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .customer-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
    }
    .flip-card {
        background-color: transparent;
        width: 200px;
        height: 200px;
        perspective: 1000px;
    }
    .flip-card-inner {
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.5s;
        transform-style: preserve-3d;
    }
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
    .flip-card-front,
    .flip-card-back {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
    }
    .flip-card-front {
        background-color: #fff;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .flip-card-back {
        background-color: #f9f9f9;
        color: #000;
        transform: rotateY(180deg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .customer-name {
        font-weight: bold;
        font-size: 20px;
    }
    .customer-actions {
        margin-top: 10px;
    }
    .customer-actions i {
        margin: 0 5px;
        color: #888;
        cursor: pointer;
    }
    .customer-actions i:hover {
        color: #000;
    }
    .pagination {
        margin-top: 20px;
        text-align: center;
    }
    .pagination button {
        margin: 0 5px;
        padding: 5px 10px;
        background-color: transparent; /* Set background color to transparent */
        color: #007bff; /* Set text color */
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .pagination button:hover {
        background-color: #007bff; /* Change background color on hover */
        color: #fff;
    }

    .action-buttons {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
    }

    .add-customer-btn {
        margin-left: 10px;
    }
    .add-customer-btn button.new-customer-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .add-customer-btn button.new-customer-button:hover {
        background-color: #0056b3;
    }

    .search-bar {
        margin-bottom: 20px;
    }

    .search-bar input[type="text"] {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 16px;
    }

    /* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 100px;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
}
  /* Modal Content */
    .modal-content {
    background-color: #fefefe;
    margin: auto; /* Center the modal horizontally */
    margin-top: 7%; /* Adjust vertical margin as needed */
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}
  /* Close Button */
    .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }
    .close:hover,
    .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }
    .client-form {
    width: 100%;
    margin: 0 auto;
    }
    .form-group {
    margin-bottom: 20px;
    }
    label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 16px;
    }
    textarea {
        resize: vertical;
    }
    .address-breakdown {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
    }
    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }
    button:hover {
        background-color: #0056b3;
    }
</style>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
function openModal() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
function closeModal() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}


    </script>
{% endblock %}