{% extends 'base.html' %}

{% block content %}
<title>{% block title %}dashboard{% endblock %}</title>
<div class="container">
    <h2>Dashboard</h2>
    <div class="summary-cards">
        <div class="summary-card">
            <h3>Total Revenue</h3>
            <p>₹{{total_revenue}}</p>
        </div>

        <div class="summary-card">
            <h3>Total Clients</h3>
            <p>{{customer_count}}</p>
        </div>
        <div class="summary-card">
            <h3>Total Products</h3>
            <p>{{product_count}}</p>
        </div>
    </div>
    <div class="summary-cards">
        <div class="summary-card">
            <h3>Total Orders</h3>
            <p>{{invoice_count}} <a href="{% url 'invoices:view_invoice' %}">view invoices</a></p>
            
        </div>
        <div class="summary-card">
            <h3>Number of Cleared Bills</h3>
            <p>{{paid}}</p>
        </div>
        <div class="summary-card">
            <h3>Number of Due bills</h3>
            <p>{{due}}</p>
        </div>
    </div>
    {{ no_products|safe }}


<style>
    .container {
        max-width: 2000px;
        margin: 20px auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .summary-cards {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        gap: 10px;
    }
    .summary-card {
        flex: 1;
        padding: 10px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    .summary-card h3 {
        margin-bottom: 10px;
        font-size: 18px;
    }
    .summary-card p {
        font-size: 24px;
        font-weight: bold;
    }
    .summary-card a:link {
        text-decoration: none;
        color: black;
        font-size: 12px;
        float: right;
        margin-top: 30px;
    }
    
    .summary-card a:visited {
        text-decoration: none;
        color: black;
    }
    
    .summary-card a:hover {
        text-decoration: none;
        color: blue;
    }
    
    .summary-card a:active {
        text-decoration: none;
        color: black;
    }
</style>
{% endblock %}
